.hand {
  display: flex;
  justify-content: center;
}

.hand img {
  margin-left: -90px;
  margin-right: -90px;
  position: relative;
  top: -100vh;
  left: -75vw;
}

.hand-sum {
  scale: 0.01;
}

.hand-container {
  display: flex;
  justify-content: center;
  gap: 200px;
  align-items: flex-end;
}

.hands-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 85vh;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay h1 {
  color: ghostwhite;
  font-size: 5rem;
  font-style: italic;
  opacity: 0;
}

@media (max-width: 600px) {
  .hand img {
    margin-left: -80px;
    margin-right: -80px;
    position: relative;
    top: -100vh;
    left: -75vw;
    width: 200px;
  }

  .chip-container img {
    width: 100px;
  }
}
