.hand {
  display: flex;
  padding: 2rem;
  justify-content: center;
}

img {
  margin-left: -90px;
  margin-right: -90px;
  position: relative;
  top: -100vh;
  left: -75vw;
}

.hand-sum {
  scale: 0.01;
}
